@model AvoidScurvyMVCApplication.Models.AddProductViewModel

@{
    ViewData["Title"] = "EditProduct";
}

<h1>Edit Product @Model.Name</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <partial name="_EditProduct" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
